@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';

.is-hidden-desktop {
  @include media-breakpoint-up(xl) {
    display: none !important;
  }
}
.is-hidden-mobile {
  @include media-breakpoint-down(lg) {
    display: none !important;
  }
}
.fill-space {
  flex-shrink: 1 !important;
  flex-grow: 1 !important;
}
.menu-container {
  width: 100%;
  max-width: 1680px;
  display: flex;
  margin: 0 auto;
  justify-content: center;

  @include media-breakpoint-down(lg) {
    display: block;
  }
}
.header-menu {
  display: flex;
  width: 100%;
  min-height: 40px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: white;
  z-index: 100;
  margin-bottom: 20px;
  @include media-breakpoint-down(lg) {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }
}
.header-menu-brand {
  display: flex;
  min-height: 44px;
  align-items: stretch;
  width: 250px;
  img {
    height: 40px;
    width: 220px;

    @include media-breakpoint-down(lg) {
      height: 40px;
      width: 56px;
    }
  }
  @include media-breakpoint-down(lg) {
    width: 100%;
    height: 58px;
    justify-content: baseline;
    box-sizing: border-box;
  }
}
.header-menu-menu {
  display: flex;
  min-height: 44px;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 0;
  @include media-breakpoint-down(lg) {
    display: none;
    width: 100%;
    overflow: auto;
    height: calc(100vh - 3.25rem);

    .header-menu-item {
      display: block;
      position: initial;
    }
  }
  &.is-active {
    @include media-breakpoint-down(lg) {
      display: block;
    }
  }
}
.header-menu-start {
  display: flex;
  min-height: 44px;
  margin-right: auto;
  justify-content: flex-start;
  justify-self: flex-start;
  > .header-menu-item {
    @include media-breakpoint-down(lg) {
      padding-bottom: 20px;
    }
  }
  @include media-breakpoint-down(lg) {
    display: block;
  }
}
.header-menu-end {
  display: flex;
  justify-content: flex-end;
  justify-self: flex-end;
  order: 2;
  @include media-breakpoint-down(lg) {
    display: block;
  }
  .header-menu-dropdown {
    left: auto;
    right: 0;
    min-width: 250px;
  }
}
.header-menu-item,
.header-menu-link {
  color: #4a4a4a;
  display: flex;
  line-height: 1.5;
  padding: 0.6rem 1rem;
  position: relative;
  text-decoration: none;
  align-items: center;
  transition: all 0.1s;
  white-space: nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  &.is-hoverable:hover,
  &.is-hoverable.is-active {
    background-color: white;
    color: #019ad9;
    &.link-active {
      color: #019ad9;
      cursor: default;
      background-color: white;
      border-bottom: 1px solid #019ad9;
    }
    @include media-breakpoint-down(lg) {
      background-color: white;
    }
  }
  &.link-active {
    color: #019ad9;
    cursor: default;
    background-color: white;
    border-bottom: 1px solid #019ad9;
  }
}
.header-menu-item {
  &.has-dropdown {
    padding: 0;
    align-items: stretch;
    @include media-breakpoint-down(lg) {
      cursor: default;
    }
    &:hover {
      > .header-menu-dropdown {
        visibility: visible;
        opacity: 1;
      }
    }
    .header-menu-link {
      @include media-breakpoint-down(lg) {
        color: #777;
        background-color: #eee;
        cursor: default;
      }
    }
  }
}
.header-menu-link {
  padding-right: 2.4em;
  &::after {
    @include media-breakpoint-up(xl) {
      border: 1px solid #4a4a4a;
      border-right: 0;
      border-top: 0;
      content: ' ';
      display: block;
      height: 0.5em;
      pointer-events: none;
      position: absolute;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform-origin: center;
      transform-origin: center;
      width: 0.5em;
      margin-top: -0.35em;
      right: 1em;
      top: 50%;
    }
  }
}
.header-menu-dropdown {
  visibility: hidden;
  opacity: 0;
  font-size: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  background-color: white;
  min-width: 100%;
  @include media-breakpoint-down(lg) {
    display: block;
    visibility: visible;
    opacity: 1;
    padding: 0;
  }
  @include media-breakpoint-up(xl) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #dbdbdb;
    -webkit-box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
    box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
    left: 0;
    position: absolute;
    top: 100%;
    z-index: 20;
    border: 1px solid #ccc;
    transition: all 0.1s 0s;
  }
  .level2 {
    top: -0.5rem;
    left: 100%;
    .header-menu-item {
      @include media-breakpoint-down(lg) {
        padding-left: 40px;
      }
    }
  }
  .header-menu-item {
    &.has-dropdown {
      .header-menu-link {
        @include media-breakpoint-down(lg) {
          background-color: white;
          font-weight: bold;
          color: #777;
        }
      }
    }
    .header-menu-link {
      width: 100%;
      &::after {
        border: 1px solid #4a4a4a;
        border-left: 0;
        border-top: 0;
        margin-top: -0.22em;
      }
    }
    &:hover,
    &.is-active {
      background-color: whitesmoke;
      color: #019ad9;
      @include media-breakpoint-down(lg) {
        background-color: white;
      }
      .header-menu-link::after {
        border-color: #3273dc;
      }
    }
  }
  .header-menu-link {
    &:hover,
    &.is-active {
      background-color: whitesmoke;
      color: #019ad9;
      @include media-breakpoint-down(lg) {
        background-color: #eee;
      }
    }
  }
  .header-menu-header {
    flex-grow: 0;
    flex-shrink: 0;
    color: #333;
    display: flex;
    line-height: 1.5;
    padding: 0.5rem 2.5rem 0.3rem 1rem;
    position: relative;
    white-space: nowrap;
    font-size: 16px;
    @include media-breakpoint-down(lg) {
      padding: 1rem 1rem 0 1rem;
    }
  }
}
.header-menu-burger {
  cursor: pointer;
  display: none;
  height: 100%;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
  flex-shrink: 0;
  @include media-breakpoint-down(lg) {
    display: flex;
  }
  span {
    background-color: currentColor;
    display: block;
    height: 1px;
    left: calc(50% - 8px);
    position: absolute;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, -webkit-transform;
    transition-property: background-color, opacity, transform;
    transition-property: background-color, opacity, transform, -webkit-transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    width: 16px;
  }
  span:nth-child(1) {
    top: calc(50% - 6px);
  }
  span:nth-child(2) {
    top: calc(50% - 1px);
  }
  span:nth-child(3) {
    top: calc(50% + 4px);
  }
  &:hover,
  &.is-active {
    background-color: rgba(0, 0, 0, 0.05);
  }
  &.is-active {
    span:nth-child(1) {
      transform: translateY(5px) rotate(45deg);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: translateY(-5px) rotate(-45deg);
    }
  }
}
.UserName {
  display: flex;
  align-items: center;
  padding: 5px 8px 16px 11px;
}
.searchbar {
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-flex;
  height: 2em;
  justify-content: flex-start;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  background-color: white;
  color: #363636;
  max-width: 100%;
  width: 100%;
  &:hover {
    border-color: #b5b5b5;
  }
  &:focus,
  &:focus-within {
    border-color: #0188bf;
    .searchbar-button {
      background: #0188bf;
    }
  }
}
.button {
  align-items: center;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-shadow: none;
  display: flex;
  height: 2.25em;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  background-color: white;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-align: center;
  white-space: nowrap;
  margin: 10px 12px;
  text-decoration: none;
  &:hover {
    border-color: #b5b5b5;
    color: #363636;
  }
  &.blue {
    background-color: #009ad9;
    color: white;
    border-color: transparent;
    &:hover {
      background-color: #0188bf;
      color: white;
    }
  }
}
div.initials[data-letters]::before {
  content: attr(data-letters);
  display: inline-block;
  font-size: 1.1em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  background: #aaa;
  vertical-align: middle;
  color: white;
}
.is-hoverable:hover {
  div.initials[data-letters]::before {
    background: #019ad9;
  }
}
.is-hoverable {
  .no-hover {
    div.initials[data-letters]::before {
      background: #aaa;
    }
  }
}
