.k-tabstrip-items .k-item {
  color: #2700ff;
}
label {
  font-size: 0.9rem;
  padding-right: 15px;
}
.marginBottom {
  margin-bottom: 210px;
}
.marginUntoggled {
  margin-bottom: 10px;
}
.marginUntoggledTop {
  margin-top: 10px;
}
.card {
  min-width: 1000px;
  min-height: 600px;
}
.k-tabstrip {
  min-height: 300px;
}
